.navbar-brand {
  font-family: "Rum Raisin", sans-serif;
}
.nav-link {
  color: darkblue !important;
  font-family: "Rum Raisin", sans-serif;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
}
.nav-link::before {
  transition: 300ms;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .nav-link-ltr:hover::before {
    width: 15%;
  }
}
